<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.bottom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <!-- android:icon="@mipmap/ic_launcher" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_delivery"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ilD5Dy7kp5lp5OpfWYhXKjFo2Mhvq1BX" />

        <activity android:name=".MainActivity" />
        <activity android:name=".atys.AtyLogin" />
        <activity android:name=".atys.AtyAddress" />
        <activity android:name=".atys.AtyTimeline" />
        <activity android:name=".atys.AtyMessage" />
        <activity android:name=".atys.AtyPubMessage" />
        <activity android:name=".atys.AtyMainFrame" />
        <activity android:name=".atys.AtyTest" />
        <activity android:name=".atys.AtyLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".atys.AtyFetch" />
        <activity android:name=".atys.AtyMail" />
        <activity android:name=".atys.AtyAddressMng" />
        <activity android:name=".atys.AtyAgreement" />
        <activity android:name=".atys.AtyLocateSchool" />
        <activity android:name=".atys.AtyUnlog" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".atys.AtyGenCode" />
        <activity android:name=".atys.AtyTakenOrders" />
        <activity android:name=".atys.AtyUpdateOrder"></activity>
    </application>

</manifest>